/***********************Overall CSS STARTS here******************************/
*{
	word-break: break-word !important;
}
/***********************Overall CSS ENDZ here******************************/

/*******************Color Define HERE*****************/
.color-red{color:#d11141;}
.color-white{color:#fff;}
.color-blue{color:#00aedb;}
.letter-space{letter-spacing: 2px;}
.shadow{box-shadow: 0px 0px 0px #fff; text-shadow: 0px 0px 5px #000; stroke:#000;}
.degree-list-background{background:#00aedb;}
/*******************Color ENDZ HERE*****************/

#info,#stage{
  width:100%;
  height:100%;
  overflow:hidden;
}

/*Navbar Style STARTS here*/
section#contact{background:url('../img/contact2.png') no-repeat 100% 100%; background-size:cover ; background-attachment: fixed; }
section{
	position: relative !important;
	width:100% !important;
	height:auto !important;
	padding:4% 0 !important;
	clear:both !important;
}
section#banner{
	/*height:100vh !important;*/
	top:0%;
	background:url("../img/banner.jpg") no-repeat 100% 100%;
    background-size:cover;
	background-attachment:fixed;
	/*background-size: 100% 95%;*/
    z-index:2;	
}
section#Top-unversity{
	top:100%;
	/*background:url("../img/2.jpg") no-repeat 100% 100%;*/
	background-attachment:fixed;
	background-size: 100% 100%;
    z-index:-1;
}
.heading{
    width:70vh;
    padding:16px 0;
    /*color:rgba(255,255,255,1);*/
    background:rgba(128,128,128,0.5);
    margin:0 auto;
    border-radius:20px;
}
.heading:hover{
    cursor:pointer;
    border:5px solid #000;
}
.fill{
    color:rgba(255,255,255,1);
}
.user-padding{
	padding:0;
	margin-top:-5px;
}
.header{
	line-height: 200%;
	height:180px;
}
.margin-top{
	margin-top:65px;
}
.banner-text{
	margin-top: 25px;
	font-size:65px !important;
}
.heading-left{
	margin-left:30px;
}
.top-margin{
	margin-top:30px;
}
.box{
	padding:16px 0;
	border-radius:30px;
	box-shadow: 0px 0px 4px #00aedb;
	overflow:hidden;
}
.bottom-padding{
    padding-bottom:30px;
}
.reflect{
	-webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(70%, transparent) , to(rgba(250, 250, 250, 0.1)));
}
.rounded{
    width:550px !important;
    border-radius: 20px !important;
    margin:0.4em !important;
}
/*.img{
	width:100%;
	padding:0;
	margin:0;
	height:650px;
	background-position: fixed;
}*/
/*Navbar Style ENDZ here*/




/*Footer STARTS here*/
.footer-distributed{
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;

	padding: 55px 50px;
	margin-top: 80px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 40%;
}

/* The company logo */

.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Cookie', cursive;
	margin: 0;
}

.footer-distributed h3 span{
	color:  #5383d3;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  #5383d3;
	text-decoration: none;;
}


/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}
@media (max-width: 400px){
	section#showUniversity{margin-top:150px !important;}
}
/*Footer ENDZ here*/

/*******************Media Queries STARTS here****************************/
@media (min-width: 1200px){
	section#banner{height:100vh !important;}
}
/*******************Media Queries ENDZ here****************************/

