<!DOCTYPE html>
<html>
<head>
	<title>Go Abroad</title>
	<!-- <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" type="text/css" href="css/set2.css">
	<link rel="stylesheet" href="css/bootstrap-table.css"> -->

	<%= stylesheet_link_tag 'bootstrap.min','font-awesome.min','style','set2','bootstrap-table'  %>

	<%= javascript_include_tag 'jquery','bootstrap.min','bootstrap-table','card',"data-turbolinks-track" => true   %>

	<script src="http://www.greensock.com/js/src/plugins/ThrowPropsPlugin.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.17.0/TweenMax.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.17.0/utils/Draggable.min.js"></script>
	<!-- // <script src="js/jquery.js" type="text/javascript" charset="utf-8"></script>
	// <script src="js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
	// <script src="js/jquery.js"></script>
	// <script src="js/bootstrap-table.js"></script> -->
	
	<!-- // <script src="js/card.js"></script> -->
	
	<script type="text/javascript">
		$(document).(function(){
			$("#mine_navigation li").click(function(){
				id = $(this).attr("title");
				tp = $("#"+id).offset().top;
				$("body,html").animate({scrollTop:tp+"px"},1000);
			});

			$(".page_name").click(function(){
				var page_name = $(this).attr("title");
				console.log(page_name);
				$("#myModal #load_external").load(page_name+".php");
				$("#myModal").modal("show");
			});

			// $(document).ready(function(){
			//     $('[data-toggle="modal"]').popup();
			// });

		});
	</script>
</head>
<body>

	<!-- Navigation Start Here -->
<!-- Modal content starts here here  -->
<div id="login" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        	<h1 class="modal-title text-center">Login Page</h1>
      </div>
      <div class="modal-body" id="load_external">
        <section class="content bgcolor-1 back" >
			<span class="input input--nao">
				<input class="input__field input__field--nao" type="email" id="input-1" />
				<label class="input__label input__label--nao" for="input-1">
					<span class="input__label-content input__label-content--nao">Email</span>
				</label>
				<svg class="graphic graphic--nao" width="400%" height="100%" viewBox="0 0 1200 60" preserveAspectRatio="none">
					<path d="M0,56.5c0,0,298.666,0,399.333,0C448.336,56.5,513.994,46,597,46c77.327,0,135,10.5,200.999,10.5c95.996,0,402.001,0,402.001,0"/>
				</svg>
			</span>
			<span class="input input--nao">
				<input class="input__field input__field--nao" type="password" id="input-2" />
				<label class="input__label input__label--nao" for="input-2">
					<span class="input__label-content input__label-content--nao">Password</span>
				</label>
				<svg class="graphic graphic--nao" width="300%" height="100%" viewBox="0 0 1200 60" preserveAspectRatio="none">
					<path d="M0,56.5c0,0,298.666,0,399.333,0C448.336,56.5,513.994,46,597,46c77.327,0,135,10.5,200.999,10.5c95.996,0,402.001,0,402.001,0"/>
				</svg>
			</span>
		</section>
      </div>
      <div class="modal-footer push-left">
        <button type="button" class="btn btn-success btn-lg" data-dismiss="modal">Login</button>
        <button type="button" class="btn btn-warning btn-lg" data-dismiss="modal">Signup</button>
      </div>
    </div>

  </div>
</div>
<!-- Modal content ENDZ here -->

<!-- Navigation Part STARTS here -->
<nav class="navbar navbar-inverse navbar-fixed-top">
  	<div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header ">
		  <button type="button" class="navbar-toggle collapsed " data-toggle="collapse" data-target=".slide" aria-expanded="false">
		    <span class="sr-only">Toggle navigation</span>
		    <span class="icon-bar"></span>
		    <span class="icon-bar"></span>
		    <span class="icon-bar"></span>
		  </button>
		  <a class="navbar-brand" href="#">Logo</a>
		</div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse slide navbar-right text-center">
      <ul class="nav navbar-nav">
      	<li class="content bgcolor-3 ">
			<span class="input input--makiko rounded">
				<input class="input__field input__field--makiko" type="text" id="input-16" />
				<label class="input__label input__label--makiko" for="input-16">
					<span class="input__label-content input__label-content--makiko">University / Course</span>
				</label>
			</span>
		</li>
        <li><a href="#"> What's New </a></li>
        <li><a href="#"> Need Agent </a></li>
        <li class="page_name" title="login"> <a href="#login" data-toggle="modal" title="login" data-content="Login Content inside the popover"> <i class="fa fa-user fa-2x user-padding"> </i> </a> </li>
        <li>
          <a href=""></a>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<!-- Navgation ENDZ Here -->

	
<%= yield %>

<!-- footer -->
<section id="contact" >
	<div class="bck"></div>
    <div class="container-fluid padding">
        <div class="col-md-12">
            <h1 class="text-center color-white letter-space shadow"> <strong> Contact Us </strong> </h1>
        </div>
        <div class="content text-center bgcolor-4">
            <div class="col-md-8 col-md-offset-2">
                <span class="input input--kuro">
                    <input class="input__field input-text input__field--kuro" type="text" id="input-7" required/>
                    <label class="input__label input__label--kuro" for="input-7">
                        <span class="input__label-content input__label-content--kuro">Tell Us Your Name</span>
                    </label>
                </span>
                <span class="input input--kuro">
                    <input class="input__field input-text input__field--kuro" type="email" id="input-8" required/>
                    <label class="input__label input__label--kuro" for="input-8">
                        <span class="input__label-content input__label-content--kuro">Email</span>
                    </label>
                </span>
                <span class="input input--kuro">
                    <input class="input__field input-text input__field--kuro" type="textarea" rows="2" cols="10" id="input-9" required/>
                    <label class="input__label input__label--kuro" for="input-9">
                        <span class="input__label-content input__label-content--kuro">Comments</span>
                    </label>
                </span>
            </div>
            <div class="col-md-12 margin-top">
                <button type="submit" class="btn btn-primary btn-lg">SEND MESSAGE</button>
            </div>
        </div>
    </div>
        
    <div class="col-md-12 padding" style="bottom:0; background: #fff">
        
        <div class="col-md-12"> 
                
        <!--Copyright-->
        <div class="footer-copyright">
            <div class="container text-center">
            <hr>
                © 2016 GoAbroad All rights reserved

            </div>
        </div>
        <!--/.Copyright-->
        </div>
    </div>
</section>


<script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/latest/plugins/ScrollToPlugin.min.js"></script>
<script type="text/javascript">

    $(document).ready(function(){
        // alert('working');
        $(window).bind('scroll',function(e){
            parallax();
        });
        $("#toContact").click(function(){
            window.location='contact.php';
        });
        $(".prospect_options").click(function(){
            $(".option_ans").stop(true,true).slideUp();
            $(this).next(".option_ans").stop(true,true).slideDown(800);
        });
    });
    $(function(){

        var $window = $(window);
        var scrollTime = 1.5;
        var scrollDistance = 600;

        $window.on("mousewheel DOMMouseScroll", function(event){

            event.preventDefault();

            var delta = event.originalEvent.wheelDelta/120 || -event.originalEvent.detail/3;
            var scrollTop = $window.scrollTop();
            var finalScroll = scrollTop - parseInt(delta*scrollDistance);

            TweenMax.to($window, scrollTime, {
                scrollTo : { y: finalScroll, autoKill:true },
                ease: Power1.easeOut,
                overwrite: 5
            });

        });
    });
    function parallax(){
        var scrollPosition = $(window).scrollTop();
        if(scrollPosition > 200){
            $("#left_pencil,#right_books").fadeIn(100);
        }else{
            $("#left_pencil,#right_books").stop(true).fadeOut(1000);
        }
        $("#left_pencil,#right_books").css('top',(400 + (scrollPosition * .5)) +'px' );
    }
</script>
</body>
</html>