<!DOCTYPE html>
<html>
<head>
	<title>Go Abroad</title>
	<!-- <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" type="text/css" href="css/set2.css">
	<link rel="stylesheet" href="css/bootstrap-table.css"> -->

	<%= stylesheet_link_tag 'bootstrap.min.css','font-awesome.min.css','style.css','set2.css','bootstrap-table.css'  %>

	<%= include_javascript_tag 'jquery.js','bootstrap.min.js','bootstrap-table.js','http://www.greensock.com/js/src/plugins/ThrowPropsPlugin.min.js','https://cdnjs.cloudflare.com/ajax/libs/gsap/1.17.0/TweenMax.min.js','https://cdnjs.cloudflare.com/ajax/libs/gsap/1.17.0/utils/Draggable.min.js','card.js'  %>

	<!-- <script src="js/jquery.js" type="text/javascript" charset="utf-8"></script>
	// <script src="js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
	// <script src="js/jquery.js"></script>
	// <script src="js/bootstrap-table.js"></script>
	// <script src="http://www.greensock.com/js/src/plugins/ThrowPropsPlugin.min.js"></script>
	// <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.17.0/TweenMax.min.js"></script>
	// <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.17.0/utils/Draggable.min.js"></script>
	// <script src="js/card.js"></script> -->
	
	<script type="text/javascript">
		$(document).(function(){
			$("#mine_navigation li").click(function(){
				id = $(this).attr("title");
				tp = $("#"+id).offset().top;
				$("body,html").animate({scrollTop:tp+"px"},1000);
			});

			$(".page_name").click(function(){
				var page_name = $(this).attr("title");
				console.log(page_name);
				$("#myModal #load_external").load(page_name+".php");
				$("#myModal").modal("show");
			});

			// $(document).ready(function(){
			//     $('[data-toggle="modal"]').popup();
			// });

		});
	</script>
</head>
<body>

	<!-- Navigation Start Here -->
<!-- Modal content starts here here  -->
<div id="login" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        	<h1 class="modal-title text-center">Login Page</h1>
      </div>
      <div class="modal-body" id="load_external">
        <section class="content bgcolor-1 back" >
			<span class="input input--nao">
				<input class="input__field input__field--nao" type="email" id="input-1" />
				<label class="input__label input__label--nao" for="input-1">
					<span class="input__label-content input__label-content--nao">Email</span>
				</label>
				<svg class="graphic graphic--nao" width="400%" height="100%" viewBox="0 0 1200 60" preserveAspectRatio="none">
					<path d="M0,56.5c0,0,298.666,0,399.333,0C448.336,56.5,513.994,46,597,46c77.327,0,135,10.5,200.999,10.5c95.996,0,402.001,0,402.001,0"/>
				</svg>
			</span>
			<span class="input input--nao">
				<input class="input__field input__field--nao" type="password" id="input-2" />
				<label class="input__label input__label--nao" for="input-2">
					<span class="input__label-content input__label-content--nao">Password</span>
				</label>
				<svg class="graphic graphic--nao" width="300%" height="100%" viewBox="0 0 1200 60" preserveAspectRatio="none">
					<path d="M0,56.5c0,0,298.666,0,399.333,0C448.336,56.5,513.994,46,597,46c77.327,0,135,10.5,200.999,10.5c95.996,0,402.001,0,402.001,0"/>
				</svg>
			</span>
		</section>
      </div>
      <div class="modal-footer push-left">
        <button type="button" class="btn btn-success btn-lg" data-dismiss="modal">Login</button>
        <button type="button" class="btn btn-warning btn-lg" data-dismiss="modal">Signup</button>
      </div>
    </div>

  </div>
</div>
<!-- Modal content ENDZ here -->

<!-- Navigation Part STARTS here -->
<nav class="navbar navbar-inverse navbar-fixed-top">
  	<div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header ">
		  <button type="button" class="navbar-toggle collapsed " data-toggle="collapse" data-target=".slide" aria-expanded="false">
		    <span class="sr-only">Toggle navigation</span>
		    <span class="icon-bar"></span>
		    <span class="icon-bar"></span>
		    <span class="icon-bar"></span>
		  </button>
		  <a class="navbar-brand" href="#">Logo</a>
		</div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse slide navbar-right text-center">
      <ul class="nav navbar-nav">
      	<li class="content bgcolor-3 ">
			<span class="input input--makiko rounded">
				<input class="input__field input__field--makiko" type="text" id="input-16" />
				<label class="input__label input__label--makiko" for="input-16">
					<span class="input__label-content input__label-content--makiko">University / Course</span>
				</label>
			</span>
		</li>
        <li><a href="#"> What's New </a></li>
        <li><a href="#"> Need Agent </a></li>
        <li class="page_name" title="login"> <a href="#login" data-toggle="modal" title="login" data-content="Login Content inside the popover"> <i class="fa fa-user fa-2x user-padding"> </i> </a> </li>
        <li>
          <a href=""></a>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<!-- Navgation ENDZ Here -->

	
<%= yield %>

</body>
</html>